#pages {
	display: inline
}

.itemsInput {
	height: 34px;
	width: 30px;
	border-radius: 4px;
	border: 1px solid #ddd;
	font-size: 16px;
}

.pageInput {
	height: 34px;
	width: 30px;
	border-radius: 4px;
	border: 1px solid #ddd;
	font-size: 16px;
}

.goBtn {
	margin-bottom: 4px;
}

.goToLabel1 {
	margin-left: 90px;
}

.goToLabel2 {
	margin-left: 20px;
}

.pagination {
	display: inline;
}

.paginationRow {
	margin-top: 50px;
	margin-bottom: 50px;
}

.tooltipster-default .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 5px;
	padding: 8px 10px;
}