#pages {
	display: inline
}

.numberInput {
	height: 34px;
	width: 30px;
	border-radius: 4px;
	border: 1px solid #ddd;
	font-size: 16px;
	
}
.goBtn{
	margin-bottom: 4px;
}
.goToLabel{
	margin-left: 20px;
}
.pagination{
	display:inline;
}

.paginationRow{
	margin-top: 40px;
	margin-bottom: 40px;
}
